// Base
html,
body {
  height: 100%;
}

html {
  font-size: map-get($font-size, base);
}

body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: map-get($font-size, base);
}
