@font-face {
  font-family: 'Proxima';
  font-weight: 500;
  src: url('https://dhm5hy2vn8l0l.cloudfront.net/proxima/proximanova-reg.woff2');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 700;
  src: url('https://dhm5hy2vn8l0l.cloudfront.net/proxima/proximanova-sbold.woff2');
}
