// Hack classes.

// Override ol / ul resets from lego.
ol, ul {
  margin: 1em 0;
  padding-left: 30px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  & > h2:first-child {
    margin-top: 0;
  }
}

.code-container {
  background-color: #00415D;
  position: relative;

  pre code {
    border: 0;
  }

  h4 {
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-top: 40px;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

.sandbox-code {
  display: none;
}
