// Utility layout class.
.justify {
  font-size: 0;
  text-align: justify;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  * {
    font-size: 1rem;
  }
}

// Main layout classes.
$sidebar-width: 300px;

.header {
  // position: fixed;
  width: 100%;
}

.main {
  min-height: 100%;
  position: relative;
}

#nav {
  background-color: $new-brand-dark;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: $sidebar-width;
  z-index: 1;

  &.fixed {
    position: fixed;
  }
}

.content {
  margin-left: $sidebar-width;
}

.hero {
  // background-color: #333;
  // background-color: map-get($ui-color, brand-dark);
  background-color: $new-brand-dark;
  color: white;
  height: 350px;
  padding: 70px;

  h1, h2 {
    color: white;
  }
}
