// Utility layout classes.
.justify {
  font-size: 0;
  text-align: justify;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  * {
    font-size: 1rem;
  }
}

// Layout variables.
$header-height: 44px;
$sidebar-width: 300px;

// Main layout classes.
.header {
  position: fixed;
  background-color: white;
  padding: 10px 20px;
  top: 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;

  a:hover {
    color: #0095E7;
  }
}

.main {
  margin-top: $header-height;
  min-height: 100%;
  position: relative;
}

.mb-100 {
  margin-bottom: 100vh;
}

#nav {
  background-color: #F2F5FA;
  // position: absolute;
  position: fixed;
  // top: 0;
  top: $header-height;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: $sidebar-width;
  z-index: 1;

  &.fixed {
    position: fixed;
  }
}

.content {
  margin-left: $sidebar-width;
  min-height: 700px;
}

.main.has-nav + .footer {
  margin-left: $sidebar-width;
}

.hero {
  // background-color: #333;
  // background-color: map-get($ui-color, brand-dark);
  // background-color: $new-brand-dark;
  overflow: hidden;
  background: #082f40; /* Old browsers */
  background: -moz-linear-gradient(top,  #082f40 27%, #051c26 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#082f40), color-stop(100%,#051c26)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #082f40 27%,#051c26 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #082f40 27%,#051c26 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #082f40 27%,#051c26 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #082f40 27%,#051c26 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082f40', endColorstr='#051c26',GradientType=0 ); /* IE6-9 */
  position: relative;
  color: white;
  height: 350px;
  padding: 70px;

  .hero-lines {
    position: absolute;
    bottom: 0;
    left: -5%;
    right: 0px;
    background-size: cover;
    width: 107%;
  }

  h1, h2 {
    color: white;
  }
}
