// Navigation classes.

.nav-sidebar {
  background-color: #F2F5FA;

  a {
    // color: white;
    color: #00415D;
    display: inline-block;
  }

  .active,
  .is-active-link {
    color: #0095E7;
    font-weight:400;
  }

  li {
    line-height: 1.6;
  }

  .main-section + .nav {
    // border-left: 2px solid #0095E7;
    // margin-left: 5px;
  }
}
