// Navigation classes.

.nav-sidebar {
  background-color: #F2F5FA;

  a {
    color: #00415D;
    display: inline-block;
  }

  .active,
  .is-active-link {
    color: #0095E7;
    font-weight:400;
  }

  .main-section {
    margin: 3px 0;
  }

  .collapsible:not(.is-collapsed) {
    margin-bottom: 3px;
  }

  .nav {
    line-height: 1.5;
  }
}
