// Navigation classes.

.nav {
  // & > .lego-nav > li > ul {
  //   border-left: 2px solid map-get($ui-color, brand);
  // }

  a {
    // color: white;
    color: #D1E5ED;
    display: inline-block;
  }

  .active {
    color: map-get($ui-color, brand-light);
  }

  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .main-section + .lego-nav {
    border-left: 2px solid map-get($ui-color, brand);
    margin-left: 5px;
  }
}
