// Object classes.

.dropdown {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  position: absolute;
  z-index: 1;
}

.background--super-dark{
	background-color: #031E2A;
	a, h2, p {
		color: white;
	}
	h4 {
		color:#0095E7;
	}
}

.home .background--brand-darker{
  background-color: #082F40;
}

// On home page
.section-box {
	border: solid 1px rgba(0, 149, 231, 0.3);
	border-radius: 5px;
	padding-right: 20px;
	padding-top: 10px;

	&:hover {
		border: solid 1px rgba(0, 149, 231, 1);
	}
}

.sidebyside-toggles {
  position: fixed;
  margin-left: calc(50% - 160px);
  width: calc(50% - 140px);
  z-index: 1;

  .token-link {
    position: absolute;
    right: 0;
  }

  .rounded-box {
    border-radius: 5px;
    margin-top: 5px;
    max-width: 400px;
  }

  #api_token {
    width: 95%;
  }
}

// Toggle section
.toggle-section {
  display: none;
  // position: absolute;
  // visibility: hidden;
}
