// Object classes.

// For dropdown in header
.dropdown {
  border-width: 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  left: -10px;
  top: 30px;
  position: absolute;
  visibility: visible;
  width: 120%;

  & > li {
    padding: 0px;
    border-width: 0px;
  }
}

// Used on the home page
.background--super-dark {
	background-color: #031E2A;

	a, h2, p {
		color: white;
	}
	h4 {
		color:#0095E7;
	}
}

.home .background--brand-darker {
  background-color: #082F40;
}

// On home page
.section-box {
	border: solid 1px rgba(0, 149, 231, 0.3);
	border-radius: 5px;
	padding-right: 20px;
	padding-top: 10px;

	&:hover {
		border: solid 1px rgba(0, 149, 231, 1);
	}
}

// Toggle section
.toggle-section {
  display: none;
}

// Copy code button in the top right corner of code samples.
.copy-code-button {
  color: white;
  cursor: pointer;
  opacity: 0.2;
  padding: 0.5em;
  // pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 300ms ease;
  right: 0;

  &:hover,
  &.zeroclipboard-is-hover {
    opacity: 1;
  }
}

// Code container on the right side of sidebyside template.
.code-container {
  background-color: #00415D;
  position: relative;

  pre code {
    border: 0;
  }

  h4 {
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 40px;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

// Add borders to divide up sidebyside template better.
.sidebyside {
  .explanation {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    &.intro {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .code-container {
    border-top: 1px solid rgba(255, 255, 255, 0.05);

    &.intro {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

// Styles for entering tokens (for interactive mode)
.sidebyside-toggles {
  position: fixed;
  margin-left: calc(50% - 160px);
  width: calc(50% - 140px);
  z-index: 1;

  .token-link {
    position: absolute;
    right: 0;
  }

  .rounded-box {
    border-radius: 5px;
    margin-top: 5px;
    width: 400px;
  }

  #api-token-input {
    width: 82%;
  }

  .form-note--bad-news {
    display: none;
  }

  // Error state
  .form-container.form-bad-news {
    .form-note--bad-news {
      display: block;
    }
  }
}
