{%
  include 'partials/_head.html'
%}

{% include 'partials/_header.html' %}

  <main id="main" class="main has-nav mb-100">
    {% include 'partials/_nav.html' %}

    <div id="content" class="content">
      <div class="sidebyside-toggles push-double--sides push--ends">
        <ul class="lego-nav unstyled">
          <li><a class="toggle" href="#" data-toggle="curl">CURL</a></li>
          <li><a class="toggle" href="#" data-toggle="interactive">Interactive Mode</a></li>
          <li class="flush">
            <a href="#" data-collapser>Enter Token</a>
            <div class="collapsible is-collapsed">
              <input id="api_token" type="text" class="lego-text-input" placeholder="API Token" value="">
            </div>
          </li>
        </ul>
      </div>

      {{ body | safe }}
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
