{%
  include 'partials/_head.html'
%}

{% include 'partials/_header.html' %}

  <main id="main" class="main has-nav">
    {% include 'partials/_nav.html' %}

    <div id="content" class="content">
      <!-- Toggles for interactive mode -->
      <div class="sidebyside-toggles soft-double--sides soft--ends">
        <ul class="lego-nav unstyled">
          <li class="z-index--2"><a class="toggle lego-button lego-button--small lego-button--brand" href="#" data-toggle="curl">CURL</a></li>
          <li class="z-index--2"><a class="toggle lego-button lego-button--small" href="#" data-toggle="interactive">Interactive Mode</a></li>
          <li class="flush token-link text--right soft-double--right">
            <a class="lego-button lego-button--small display--inline-block" href="#" data-collapser>Enter API Token</a>
            <div class="collapsible is-collapsed background--white rounded-box text--left">
              <form id="api-token-form" class="soft-half--ends form-container">
                <label class="lego-label display--block soft--sides">Enter your API token to use interactive mode:</label>
                <input id="api-token-input" type="text" class="lego-text-input push--left" placeholder="API Token" value="">
                <button class="lego-button lego-button--highlight">Ok</button>
                <div class="lego-form-note lego-form-note--bad-news soft--sides">Please enter your API token.</div>
                <div class="soft--sides">Get your api token at <a href="https://app.optimizely.com/tokens" target="_blank">https://app.optimizely.com/tokens</a></div>
              </form>
            </div>
          </li>
        </ul>
      </div>

      {{ body | safe }}
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
