{%
  include 'partials/_head.html'
%}

{% include 'partials/_header.html' %}

  <main id="main" class="main has-nav">
    {% include 'partials/_nav.html' %}

    <div id="content" class="content soft-half--ends max-width--900">
      {% for section in sections %}
        {% for i, key in siblingData[section] | sort %}
          {%
            include 'partials/_inline.html'
            siblingData[section][key]
          %}
        {% endfor %}
      {% endfor %}
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
