{%
  include 'partials/_head.html'
%}

{% include 'partials/_header.html' %}

  <main id="main" class="main has-nav">
    {% include 'partials/_nav.html' %}

    <div id="content" class="content soft-double max-width--reading">
      <h1 class="push-quad--bottom">Articles</h1>

      {% for article in articles | sort %}
        {% set object = siblingData[article] %}
        {%
          include object.partial
          object
        %}
      {% endfor %}
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
