{% set page = 'home' %}
{% set pathArray = ['index'] %}

{% include 'partials/_head.html' %}
{% include 'partials/_header.html' %}

  <main class="main">
    <div class="background--super-dark hero text--center">
      <div class="z-index--2 position--relative">
        <h1 class="kilo push-double no-margin-on-mobile">Develop with Optimizely</h1>
        <h2 class="gamma">Build on the world's #1 experience optimization platform</h2>

        <div class="push-quad">
          <a class="button button--highlight" href="{{ paths.navigation.overview.path }}">Learn more</a>
        </div>
      </div>
      <svg class="hero-lines" width="1600px" height="290px" viewBox="0 0 1600 290" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="waves" sketch:type="MSArtboardGroup" stroke-width="2" opacity="0.400000006">
            <path d="M0.164246676,256.516285 C52.9929461,234.367433 86.3976139,205.63 121.507695,205.63 C178.576943,205.63 224.756595,263.895 298.720935,263.895 C372.684274,263.895 400.842428,78.314 513.478046,78.314 C626.112664,78.314 659.152913,205.63 726.733283,205.63 C794.314654,205.63 842.37165,94.738 944.494144,94.738 C1046.61664,94.738 1103.68488,166.735 1175.77188,166.735 C1247.85788,166.735 1289.90837,0.095 1366.49999,0.095 C1419.50116,0.095 1463.05253,50.684 1484.85375,81.849 C1494.55787,95.72 1599.2786,281.7 1599.2786,281.7" stroke="#0095E7" id="Stroke-2"></path>
            <path d="M1.06247704,278.933714 C117.082887,265.452681 203.733281,205.535 254.430641,205.535 C311.499889,205.535 357.679541,263.8 431.64288,263.8 C505.60722,263.8 533.766375,78.219 646.400993,78.219 C759.03561,78.219 792.075859,205.535 859.656229,205.535 C927.2376,205.535 975.294596,94.643 1077.41709,94.643 C1179.53958,94.643 1236.60783,166.64 1308.69483,166.64 C1380.78082,166.64 1422.83132,0 1499.42294,0 C1541.38849,0 1577.43026,31.7156835 1601.44103,60.3923914" id="Imported-Layers-Copy-8" stroke="#20ACC1" sketch:type="MSShapeGroup"></path>
            <path d="M0,270 C81.5011557,247.636131 144.352514,205.535 184.343141,205.535 C241.412389,205.535 287.592041,263.8 361.55538,263.8 C435.51972,263.8 463.678875,78.219 576.313492,78.219 C688.94811,78.219 721.988359,205.535 789.568729,205.535 C857.1501,205.535 905.207096,94.643 1007.32959,94.643 C1109.45208,94.643 1166.52033,166.64 1238.60733,166.64 C1310.69332,166.64 1352.74382,0 1429.33544,0 C1479.75438,0 1521.62265,45.78 1544.34903,77.068 C1549.73722,84.4857808 1574.97269,130.239899 1600.80419,177.768823" id="Imported-Layers" stroke="#0B9D76" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </svg>
    </div>

    <div class="soft-quad">
      <h2 class="text--center push-quad--bottom flush--top">API & SDK Documentation</h3>

      <div class="max-width--large anchor--middle">
        <div class="grid">
          <div class="grid__cell width--1-4 is-stacked-on-mobile text--center">
            <a class="link--dark display--block" href="{{ paths.navigation.rest.path + '/' + paths.navigation.rest.sections.introduction.path }}">
              <img src="assets/img/rest-icon.svg" class="img--circle display--inline-block">
              <h4 class="push-double--top weight--bold">{{ paths.navigation.rest.title }}</h4>
              <p class="push-half--bottom">Manage your Optimizely projects using code.</p>
            </a>
          </div>
          <div class="grid__cell width--1-4 is-stacked-on-mobile text--center">
            <a class="link--dark display--block" href="{{ paths.navigation.javascript.path + '/' + paths.navigation.javascript.sections.introduction.path }}">
              <img src="assets/img/js-icon.svg" class="img--circle display--inline-block">
              <h4 class="push-double--top weight--bold">{{ paths.navigation.javascript.title }}</h4>
              <p class="push-half--bottom">Customize the behavior of Optimizely on web pages.</p>
            </a>
          </div>
          <div class="grid__cell width--1-4 is-stacked-on-mobile text--center">
            <a class="link--dark display--block" href="{{ paths.navigation.ios.path + '/' + paths.navigation.ios.sections.introduction.path }}">
              <img src="assets/img/iOS-icon.svg" class="img--circle display--inline-block">
              <h4 class="push-double--top weight--bold">{{ paths.navigation.ios.title }}</h4>
              <p class="push-half--bottom">Create and run experiments in your iOS app.</p>
            </a>
          </div>
          <div class="grid__cell width--1-4 is-stacked-on-mobile text--center">
            <a class="link--dark display--block" href="{{ paths.navigation.android.path + '/' + paths.navigation.android.sections.introduction.path }}">
              <img src="assets/img/android-icon.svg" class="img--circle display--inline-block">
              <h4 class="push-double--top weight--bold">{{ paths.navigation.android.title }}</h4>
              <p class="push-half--bottom">Create and run experiments in your Android app.</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="background--super-dark soft-quad">
      <h2 class="text--center push-quad--bottom flush--top">Discover the full power of Optimizely</h3>

      <div class="grid max-width--large anchor--middle">
        <a class="section-box grid__cell is-stacked-on-mobile no-margin-on-mobile no-flex-on-mobile text--center push-quad--right" href="{{ paths.navigation.overview.path + '#custom-implementations' }}">
          <img src="assets/img/customize-optimizely.svg" class="display--inline-block push height-100">
          <h4 class="weight--bold">Custom Implementations</h4>
          <p>Learn how to set up advanced tests and customize the behavior of Optimizely for your needs.</p>
        </a>
        <a class="section-box grid__cell is-stacked-on-mobile no-margin-on-mobile no-flex-on-mobile text--center push-quad--left" href="{{ paths.navigation.integrations.path }}">
          <img src="assets/img/build-integrations.svg" class="display--inline-block push height-100 max-width--150 soft-half--top soft--left">
          <h4 class="weight--bold">Technology Integrations</h4>
          <p>Learn how to build integrations with Optimizely to deliver a seamless experience to your customers.</p>
        </a>
      </div>
    </div>

    <div class="max-width--large anchor--middle soft-quad--ends soft-double--bottom">
      <h2 class="text--center flush--top push--bottom">Solutions for developers</h3>

      <div class="grid">
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.integrations.path + '#content-management' }}">
            <h4 class="weight--bold">Integrate with your CMS</h4>
            <p class="flush">Build a complete optimization solution in your content management system, so content editors can run experiments without ever logging into Optimizely.</p>
          </a>
        </div>
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.ios.path }}">
            <h4 class="weight--bold">Experiment in your iOS app</h4>
            <p class="flush">Install the Optimizely iOS SDK, which allows you to easily run experiments and personalized experiences in your app without having to submit updates.</p>
          </a>
        </div>
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.integrations.path + '#audiences' }}">
            <h4 class="weight--bold">Create audiences via the API</h4>
            <p class="flush">Send custom audiences to Optimizely, so you can easily target experiments and personalized experiences to your most valuable customers.</p>
          </a>
        </div>
      </div>
      <div class="grid soft-quad--bottom">
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.rest.path + '/code-samples/#results' }}">
            <h4 class="weight--bold">Pull data into internal reports</h4>
            <p class="flush">Get full access to Optimizely Stats Engine, so you can view the performance of your experiments and personalized experiences in the tool of your choice.</p>
          </a>
        </div>
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.javascript.path + '/code-samples/#conditional' }}">
            <h4 class="weight--bold">Conditionally activate experiments</h4>
            <p class="flush">Override Optimizely's default bucketing behavior, so you can customize when your experiments activate on web pages and in mobile apps.
          </a>
        </div>
        <div class="grid__cell width--1-3 is-stacked-on-mobile text--center">
          <a class="link--dark" href="{{ paths.navigation.javascript.path + '/code-samples/#advanced-goal-tracking' }}">
            <h4 class="weight--bold">Track custom events</h4>
            <p class="flush">Track the actions and events that matter most to your business, so you can better target experiences and segment your Optimizely reports.</p>
          </a>
        </div>
      </div>
      <div class="grid">
      </div>
    </div>

    <div class="background--super-dark anchor--middle soft-quad">
      <h2 class="text--center push-double--bottom flush--top">Start developing today!</h3>
      <div class="grid">
        <div class="grid__cell width--1-1 text--center">
          <p class="delta">Get a free Optimizely developer account with full access to our APIs and SDKs.</p>
          <a class="button button--highlight" href="https://www.optimizely.com/?modal=devsignup">Create a free account</a>
        </div>
      </div>
    </div>
  </main>

{% include 'partials/_footer.html' %}
{% include 'partials/_foot.html' %}
