{%
  include 'partials/_head.html'
  {
    page: "index"
  }
%}

{% include 'partials/_header.html' %}

  <main class="main">
    <div class="background--super-dark hero text--center">
      <h1 class="kilo push-double">Develop with Optimizely</h1>
      <h2 class="gamma">Build on the world's #1 experience optimization platform.</h2>

      <div class="push-quad">
        <a class="lego-button lego-button--highlight" href="#">Learn More</a>
      </div>
    </div>

    <div class=" anchor--middle">
      <h2 class="text--center push-quad">Documentation</h3>

      <div>
        <div class="max-width--large lego-grid anchor--middle">
          <div class="lego-grid__cell width-1-4 text--center">
            <a class="link--dark" href="#">
              <img src="assets/img/rest-icon.svg" class="img--circle display--inline-block push">
              <h4>REST API</h4>
              <p>Manage your Optimizely projects using code.</p>
            </a>
          </div>
          <div class="lego-grid__cell width-1-4 text--center">
            <a class="link--dark" href="#">
              <img src="assets/img/js-icon.svg" class="img--circle display--inline-block push">
              <h4>JS API</h4>
              <p>Customize the behavior of Optimizely on web pages.</p>
            </a>
          </div>
          <div class="lego-grid__cell width-1-4 text--center">
            <a class="link--dark" href="#">
              <img src="assets/img/iOS-icon.svg" class="img--circle display--inline-block push">
              <h4>iOS SDK</h4>
              <p>Create and run experiments in your iOS app.</p>
            </a>
          </div>
          <div class="lego-grid__cell width-1-4 text--center">
            <a class="link--dark" href="#">
              <img src="assets/img/android-icon.svg" class="img--circle display--inline-block push">
              <h4>Android SDK</h4>
              <p>Create and run experiments in your Android app.</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="background--super-dark anchor--middle push-quad--top soft-quad">
      <h2 class="text--center push-quad--bottom">Discover the full power of Optimizely</h3>

      <div class="lego-grid max-width--large anchor--middle">
        <div class="section-box lego-grid__cell text--center push-quad--right">
          <a class="" href="#">
            <img src="assets/img/customize-optimizely.svg" class="display--inline-block push height-100">
            <h4>For customers</h4>
            <p>Learn how to run more advanced tests, connect with your internal tools, and customize the behavior of Optimizely for your needs.</p>
          </a>
        </div>
        <div class="section-box lego-grid__cell text--center push-quad--left">
          <a class="" href="#">
            <img src="assets/img/build-integrations.svg" class="display--inline-block push height-100 max-width-150 soft-half--top soft--left">
            <h4>For partners</h4>
            <p>Learn how to build powerful integrations and custom applications on Optimizely, to deliver a better experience to your customers.
          </a>
        </div>
      </div>
    </div>

    <div class="max-width--large anchor--middle push-quad--top">
      <h2 class="text--center push-quad">Solutions for developers</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4>Integrate with your CMS</h4>
            <p>Learn how to build an optimization solution in your content management system, so content editors can run experiments without ever logging into Optimizely.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4> Experiment in your mobile app</h4>
            <p>Learn how to install the Optimizely iOS and Android SDKs, which allow you to easily run A/B tests in your app without having to submit updates.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4>Create audiences through the API</h4>
            <p>Learn how to send custom audiences to Optimizely, so you can easily target experiments and personalized experiences to your most valuable customers.</p>
          </a>
        </div>
      </div>
      <div class="max-width--large lego-grid anchor--middle">
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4>Pull data into internal reports</h4>
            <p>Learn how to get full access to Optimizely Stats Engine, so you can view the performance of your experiments in the tool of your choice.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4>Conditionally activate experiments</h4>
            <p>Learn how to override Optimizely's default bucketing behavior, so you can customize when your experiments activate in web pages and mobile apps.
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <h4>Track visitors and events</h4>
            <p>Learn how to track all the visitor information you care about, so you can better target experiences and segment your Optimizely reports.</p>
          </a>
        </div>
      </div>

    </div>

    <div class=" anchor--middle push-quad--ends">
      <h2 class="text--center push-quad">Start developing today</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1 text--center">
          <a class="lego-button lego-button--highlight push-double--bottom" href="#">Create free account</a>
          <p>Get a free Optimizely developer account with full access to our APIs and SDKs.</p>
        </div>
      </div>
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
