{%
  include 'partials/_head.html'
  {
    page: "index"
  }
%}

{% include 'partials/_header.html' %}

  <main>
    <div class="hero text--center">
      <h1 class="kilo push-double">Optimizely for Developers</h1>
      <h2 class="gamma">Experience the power of Optimized experiences.</h2>

      <div class="push-quad">
        <a class="lego-button lego-button--highlight" href="#">Learn More</a>
        <!-- <a class="lego-button lego-button--highlight push--left" href="#">Get Started</a> -->
      </div>
    </div>

    <div class="width-4-5 anchor--middle">
      <h3 class="text--center push-quad">Developer Documentation</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Javascript API</h4>
            <p>Customize Optimizely's behavior on web pages. You can control how
              Optimizely buckets users into variations, integrate custom analytics
              tools, or manually activate experiments.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>REST API</h4>
            <p>Manage your Optimizely experiments programmatically. You can modify
              projects, experiments, and variations from your own code. This makes
              it easy to create and start experiments directly from a
              content-management system.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>iOS SDK</h4>
            <p>Create and run experiments in your iOS app. Use our code-free
              Visual Editor as well as Live Variables and Code Blocks to optimize
              your app. Straightforward SDK integration with CocoaPods support.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Android SDK</h4>
            <p>Create and run experiments in your Android app. Use our code-free
              Visual Editor as well as Live Variables and Code Blocks to optimize
              your app. Straightforward SDK integration with Gradle support.</p>
          </a>
        </div>
        <!-- <div class="lego-grid__cell width-1-4 text--center">
          <img src="http://placehold.it/100x100" class="img--circle display--inline-block">
          <div>Code Samples</div>
        </div> -->
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--top">
      <h3 class="text--center push-quad">Get Started</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-2 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>For Customers</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-2 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>For Partners</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--top">
      <h3 class="text--center push-quad">Code Samples</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Technology Integrations</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Custom Applications</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Advanced Optimization</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--ends">
      <h3 class="text--center push-quad">Start developing</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1 text--center">
          <a class="lego-button lego-button--highlight push-double--bottom" href="#">Create account</a>
          <p>Get a free Optimizely account with full access to developer features.</p>
        </div>
      </div>
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
