---
title: Audience Conditions
template: page-main

structure: |
  Audiences are defined using logical rules called conditions. Each condition is a rule like "Browser equals Chrome", and an audience is a Boolean combination of these rules, like "Browser equals Chrome OR Referrer matches the substring google.com".

  Each individual condition is a JSON object with a `type` and other properties depending on that type. You can see how each condition type is defined below, or just create an audience on Optimizely and GET it back to see its condition JSON.

  Conditions are joined together in lists. The first element in each list should be `"and"`, `"or"`, or `"not"`, and the rest of the conditions will be combined using that operator. You can replace any individual condition with another list, which allows for a nested structure of ANDs and ORs. A `"not"` list should only have one condition or list, which will be negated. Otherwise, a list with a single condition like `["and", {...}]` will just match that condition.

  The full condition object should be passed to the API as a serialized string (for example, by using `JSON.stringify(data)` in JavaScript). We'll return it in the same format, so to traverse it you'll need to parse it as an object (with `JSON.parse(string)` or equivalent).

examples: |
  // Condition Grammar: "conditions" should be any value of the form
  ["and", **]
  ["or" , **]
  ["not",  *]
  "{..}" // an object with keys like ('type', 'value', 'match_type', 'name') and string values
  // ** = one or more values from the list above
  // * = one value of the form listed above


  // Chrome users on SpringSale or FallSale campaign
  [
    "and",
    {
      "type": "browser",
      "value": "gc"
    },
    [
      "or",
      {
        "type": "query",
        "name": "utm_campaign",
        "value": "SpringSale"
      },
      {
        "type": "query",
        "name": "utm_campaign",
        "value": "FallSale"
      },
    ]
  ]

  // Visitor is not on Firefox
  [
    "not",
    {
      "type": "browser",
      "value": "ff"
    }
  ]

---

  <section>
    <div class="sidebyside">
      <div class="explanation">
        <h2>{{ page.title }}</h2>
        <p>{{page.structure | markdownify}}</p>
      </div>
      <div class="sample intro">
        <h4>Example JSON</h4>
        {% highlight json %}{{ page.examples }}{% endhighlight %}
      </div>
    </div>
  </section>

{% for condition in site.data.conditions-meta %}
  {% assign type = condition[0] %}
  {% assign meta = condition[1] %}
  {% assign c = site.data.conditions[type] %}
  {% unless c.hidden %}

  <section>
    <div class="sidebyside">
      <div class="explanation">
        <h3>{{ c.title }}{% if meta.warning %} <em>(deprecated)</em>{% endif %}</h3>
        {% if meta.warning %}<div class="lego-attention lego-attention--warning push--bottom">{{ meta.warning }}</div>{% endif %}
        <ul>

          <li><b>type</b>: <code>{{type}}</code>

          {% if c.fields.name.required %}
          <li><b>name</b>: required
          {% endif %}

          {% if c.fields.match_type %}
          <li><b>match_type</b>: {% if c.fields.match_type.required %}required{% else %}optional{% endif %}</li>
          {% endif %}

          {% if c.fields.value %}
          <li><b>value</b>: {% if c.fields.value.required %}required{% else %}optional{% endif %}</li>
          {% endif %}

        </ul>
        <p>{% if meta.usage %}{{meta.usage | markdownify}}{% endif %}
        {% if c.fields.value.values %}
        Acceptable values are:

        <table class="growable table">
        {% for value in c.fields.value.values %}
          <tr {% if forloop.index > 10 %}class="hidden"{% endif %}>
            <td><code>{{value.value}}</code></td>
            <td>
              {% if value.deprecated %}
                <s>{{value.text}}</s> (deprecated)
              {% else %}
              {{value.text}}
              {% endif %}
            </td>
          </tr>

          {% if forloop.index == 10 %}
          <tr>
            <td colspan="2"><a class="expander">See {{ forloop.rindex }} more values</a></td>
          </tr>
          {% endif %}

        {% endfor %}
        </table></p>
        {% endif %}

        {% if c.fields.value.disallowed_values %}
        <p>Any string value is allowed except:
          <ul>
          {% for value in c.fields.value.disallowed_values %}
          <li><code>{{value}}</code></li>
          {% endfor %}
          </ul>
        </p>
        {% endif %}


        {% if c.fields.match_type.values %}
        <p>The <code>match_type</code> can be:
          <ul>
          {% for match_type in c.fields.match_type.values %}
          <li><code>{{match_type.value}}</code> {{match_type.text}}</li>
          {% endfor %}
          </ul>
        </p>
        {% endif %}

      </div>
      <div class="sample">
        <h4>Example JSON</h4>
        {% highlight json %}{{ meta.example }}{% endhighlight %}
      </div>
    </div>
  </section>

  {% endunless %}
{% endfor %}
