  <footer class="footer cf soft--ends soft-double--sides">
    <div class="float--left">
      <a href="https://www.optimizely.com">
        <img class="display--inline-block vertical-align--bottom" src="/assets/img/optimizely_logo_footer.svg">
      </a>
      <span class="soft--left">&copy; 2016 Optimizely</span>
      <a class="soft--left is-hidden-on-mobile" href="https://www.optimizely.com/terms/">Terms of Service</a>
      <a class="soft--left" href="https://www.optimizely.com/privacy/">Privacy Policy</a>
    </div>
    <div class="float--right is-hidden-on-mobile" style="margin-top: 2px;">
       <a class="soft--left" href="https://www.optimizely.com/">Optimizely.com</a>
       <a class="soft--left" href="https://blog.optimizely.com/">Blog</a>
       <a class="soft--left" href="https://help.optimizely.com/">Help</a>
       <a class="soft--left" href="https://community.optimizely.com/">Community</a>
       <a class="soft--left" href="https://www.optimizely.com/jobs/">Jobs</a>
    </div>
  </footer>
