  <footer class="footer cf soft--ends soft-double--sides">
    <div class="float--left">
      <img class="display--inline-block vertical-align--bottom" src="/assets/img/optimizely_logo_footer.svg">
      <span class="soft--left">&copy;2015 Optimizely
      </span>
      <a class="soft--left" href="https://www.optimizely.com/terms/">Terms of Service</a>
      <a class="soft--left" href="https://www.optimizely.com/privacy/">Privacy Policy</a>
    </div>
    <div class="float--right" style="margin-top: 2px;">
       <a class="soft--left" href="https://www.optimizely.com/privacy/">Optimizely.com</a>
       <a class="soft--left" href="https://www.optimizely.com/privacy/">Blog</a>
       <a class="soft--left" href="https://www.optimizely.com/privacy/">Help</a>
       <a class="soft--left" href="https://www.optimizely.com/privacy/">Jobs</a>
    </div>
  </footer>
