  <footer class="text--center push-double">
    <div class="soft-double text--left" >
      <img class="display--inline-block vertical-align--bottom" src="/assets/img/optimizely_logo_footer.svg">
      <span class="soft--left">&copy;2015 Optimizely
      </span>
      <a class="soft--left" href="https://www.optimizely.com/terms/">Terms of Service</a>
      <a class="soft--left" href="https://www.optimizely.com/privacy/">Privacy Policy</a>

    </div>
    <!-- <p>
      ©2014
      <strong><a href="https://www.optimizely.com/">Optimizely</a></strong>
    </p>
    <p>
      <a href="https://www.optimizely.com/privacy">Privacy Policy</a> -
      <a href="https://www.optimizely.com/terms">Terms of Service</a>
    </p> -->
  </footer>
