<header class="border--bottom cf">
  <img class="soft push-half float--left" src="/assets/img/optimizely_developers.svg" alt="Optimizely Developers">

  <ul class="lego-nav float--right push-double soft-half--top">
    <li><a href="#">JAVASCRIPT API</a></li>
    <li><a href="#">REST API</a></li>
    <li><a href="#">iOS SDK</a></li>
    <li><a href="#">ANDROID SDK</a></li>
    <li><a href="#">CODE SAMPLES</a></li>
    <li><a href="http://community.optimizely.com/t5/Developers/bd-p/Developers">DISCUSSIONS</a></li>
  </ul>
</header>
