  <header class="header border--bottom soft-double justify">
    <a class="display--inline-block" href="/">
      <img src="/assets/img/optimizely_developers.svg" alt="Optimizely Developers">
    </a>

    <div class="display--inline-block vertical-align--top soft--top">
      <ul class="lego-nav">
        <li><a href="/javascript">JAVASCRIPT API</a></li>
        <li><a href="/rest">REST API</a></li>
        <li><a href="/ios">iOS SDK</a></li>
        <li><a href="/android">ANDROID SDK</a></li>
        <li><a href="/samples">CODE SAMPLES</a></li>
        <li><a href="http://community.optimizely.com/t5/Developers/bd-p/Developers">DISCUSSIONS</a></li>
      </ul>
    </div>
  </header>
