  <header class="border--bottom cf">
    <a href="/">
      <img class="soft push-half float--left" src="/assets/img/optimizely_developers.svg" alt="Optimizely Developers">
    </a>

    <ul class="lego-nav float--right push-double soft-half--top">
      <li><a href="/javascript">JAVASCRIPT API</a></li>
      <li><a href="/rest">REST API</a></li>
      <li><a href="/ios">iOS SDK</a></li>
      <li><a href="/android">ANDROID SDK</a></li>
      <li><a href="/samples">CODE SAMPLES</a></li>
      <li><a href="http://community.optimizely.com/t5/Developers/bd-p/Developers">DISCUSSIONS</a></li>
    </ul>
  </header>
