<!-- Row -->
<section>
  <!-- Left column -->
  <div class="soft-double--sides{% if object.fileName == "0-intro" %} intro{% endif %}">

    <!-- Anchor link -->
    <!--{% if anchor %}<a name="{{anchor}}"></a>{% endif %}-->

    <!-- Title -->
    {% if object.fileName == "0-intro" %}
      <h2 id="{{object.anchor}}">{{object.title}}</h2>
    {% else %}
      <h3 id="{{object.anchor}}">{{object.title}}</h3>
    {% endif %}

    <!-- Endpoint -->
    {% if object.type and object.endpoint %}
      <pre>{{ object.type }} {{ object.endpoint }}</pre>
    {% endif %}

    <!-- Description -->
    {{ object.body | safe }}

<!-- Indenting is weird here because of the <pre> tags -->

<!-- Example request-->
{% if object.endpoint %}
<h4>Example Request</h4>
<pre>
{% markdown %}
```bash
curl \
  -H "Token: abcdefghijklmnopqrstuvwxyz:123456" \{% if object.request %}
  -H "Content-Type: application/json" \
  -d '{{ object.request | dump | safe }}' \{% endif %}
  {% if object.type %}-X {{object.type}} {% endif %}"https://www.optimizelyapis.com/experiment/v1/{{ object.endpoint }}"
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example response -->
{% if object.response %}
<h4>Example Response</h4>
<pre>
{% markdown %}
```json
{{ object.response | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example HTML -->
{% if object.html %}
<h4>Example HTML</h4>
<pre>
{% markdown %}
```html
{{ object.html | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example JS -->
{% if object.js %}
<h4>Example Javascript</h4>
<pre>
{% markdown %}
```js
{{ object.js | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example URL -->
{% if object.request_url %}
<h4>Example URL</h4>
<pre>
{% markdown %}
```bash
{{ object.request_url | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example Request -->
{% if object.curl %}
<h4>Example Request</h4>
<pre>
{% markdown %}
```bash
{{ object.curl | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

    <!-- Arguments -->
    {% if object.fields %}
      <h4>Definitions</h4>
      <table class="table">
      {% for key, f in object.fields %}
        <tr><td align="left"><b>{{ key }}</b></td><td class="desc">
          {% markdown %}
          {{ f }}
          {% endmarkdown %}
        </td></tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>
</section>
