  <!-- Row -->
  <section class="sidebyside">
    <div class="grid">
      <!-- Left column -->
      <div class="grid__cell width--1-2 explanation{% if object.fileName == "0-intro" %} intro{% endif %}">
        <div class="soft-double--sides">
          <!-- Title -->
          {% if object.fileName == "0-intro" %}
            <h2 id="{{object.anchor}}">{{object.title}}</h2>
          {% else %}
            <h3 id="{{object.anchor}}">
              {{object.title}}
              {% if object.meta and object.meta.warning %}<span> (deprecated)</span>{% endif %}
            </h3>
          {% endif %}

          <!-- Endpoint -->
          {% if object.type and object.endpoint %}
            <pre>{{ object.type }} {{ object.endpoint }}</pre>
          {% endif %}

          <!-- Description -->
          {{ object.body | safe }}

          <!-- Arguments -->
          {% if object.fields %}
            <h4>Definitions</h4>
            <table class="table">
            {% for key, f in object.fields %}
              <tr><td align="left"><b>{{ key }}</b></td><td class="desc">
                {% markdown %}
                  {{ f | safe }}
                {% endmarkdown %}
              </td></tr>
            {% endfor %}
            </table>
          {% endif %}
        </div>
      </div>

      <!-- Right column -->
      <div class="grid__cell width--1-2 code-container{% if object.fileName == "0-intro" %} intro{% endif %}{% if object.endpoint or object.response or object.code_examples %} empty{% endif %}">

        {% for key, code in object.code_examples %}
          <div class="hidden{% if code.lang == 'python' %} visible{% endif %}" data-toggle-section="{{ code.lang }}-code">

<!-- Indenting is weird here because of the <pre> tags -->

<!-- Example Request -->
{% if object.datafile %}
<h4>Example</h4>

<div class="text--center" style="font-size:20px;margin-top:25%">

<form action="/data/datafile.html">
    <button class="button" type="submit"> View Sample Datafile </button>
</form>

<!-- <a href="/data/datafile.html" target="_blank">View Sample Datafile</a> -->


</div>
{% endif %}



<!-- Example Request -->
{% if code.request %}
<h4>Example Code</h4>

<pre>
{% markdown %}
```{{ code.lang }}
{{ code.request | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example Response -->
{% if code.response %}
<h4>Example Response</h4>
<pre>
{% markdown %}
```json
{{ code.response | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

          </div>
        {% endfor %}
      </div>
    </div>
  </section>
