  <!-- Row -->
  <section class="sidebyside">
    <div class="grid">
      <!-- Left column -->
      <div class="grid__cell width--1-2 explanation{% if object.fileName == "0-intro" %} intro{% endif %}">
        <div class="soft-double--sides">
          <!-- Title -->
          {% if object.fileName == "0-intro" %}
            <h2 id="{{object.anchor}}">{{object.title}}</h2>
          {% else %}
            <h3 id="{{object.anchor}}">
              {{object.title}}
              {% if object.meta and object.meta.warning %}<span> (deprecated)</span>{% endif %}
            </h3>
          {% endif %}

          <!-- Endpoint -->
          {% if object.type and object.endpoint %}
            <pre>{{ object.type }} {{ object.endpoint }}</pre>
          {% endif %}

          <!-- Description -->
          {{ object.body | safe }}

          <!-- Arguments -->
          {% if object.fields %}
            <h4>Definitions</h4>
            <table class="table">
            {% for key, f in object.fields %}
              <tr><td align="left"><b>{{ key }}</b></td><td class="desc">
                {% markdown %}
                  {{ f | safe }}
                {% endmarkdown %}
              </td></tr>
            {% endfor %}
            </table>
          {% endif %}
        </div>
      </div>

      <!-- Right column -->
      <div class="grid__cell width--1-2 code-container{% if object.fileName == "0-intro" %} intro{% endif %}{% if object.endpoint or object.response or object.code_examples %} empty{% endif %}">

        {% for key, code in object.code_examples %}
          <div class="hidden{% if code.lang == 'python' %} visible{% endif %}" data-toggle-section="{{ code.lang }}-code">

<!-- Indenting is weird here because of the <pre> tags -->

<!-- workaround for datafile -->
{% if object.datafile %}
<h4>Example datafile</h4>
<div style="overflow-y:scroll;max-height:570px;">
<pre>
{% markdown %}
```
{  
   "experiments":[  
      {  
         "status":"Running",
         "percentageIncluded":10000,
         "key":"flight-search",
         "trafficAllocation":[  
            {  
               "entityId":"6274840109",
               "endOfRange":3333
            },
            {  
               "entityId":"6274840110",
               "endOfRange":6666
            },
            {  
               "entityId":"6274840111",
               "endOfRange":9999
            }
         ],
         "audienceIds":[  

         ],
         "variations":[  
            {  
               "id":"6274840109",
               "key":"price"
            },
            {  
               "id":"6274840110",
               "key":"reviews"
            },
            {  
               "id":"6274840111",
               "key":"destinations"
            }
         ],
         "forcedVariations":{  
            "484029343":"reviews"
         },
         "id":"6271220072"
      },
      {  
         "status":"Not started",
         "percentageIncluded":10000,
         "key":"flight-search-mobile",
         "trafficAllocation":[  
            {  
               "entityId":"6496940704",
               "endOfRange":3333
            },
            {  
               "entityId":"6496940705",
               "endOfRange":6666
            },
            {  
               "entityId":"6496940706",
               "endOfRange":9999
            }
         ],
         "audienceIds":[  
            "6496940684"
         ],
         "variations":[  
            {  
               "id":"6496940704",
               "key":"price"
            },
            {  
               "id":"6496940705",
               "key":"reviews"
            },
            {  
               "id":"6496940706",
               "key":"destinations"
            }
         ],
         "forcedVariations":{  

         },
         "id":"6511640466"
      }
   ],
   "version":"1",
   "audiences":[  
      {  
         "conditions":"[\"and\", [\"or\", [\"or\", {\"name\": \"device_type\", \"type\": \"custom_dimension\", \"value\": \"iphone\"}, {\"name\": \"device_type\", \"type\": \"custom_dimension\", \"value\": \"android\"}]]]",
         "id":"6496940684",
         "name":"device_type"
      }
   ],
   "dimensions":[  
      {  
         "id":"6517890962",
         "key":"device_type",
         "segmentId":"6514850906"
      }
   ],
   "groups":[  

   ],
   "projectId":"6235521383",
   "accountId":"1111111111",
   "events":[  
      {  
         "experimentIds":[  
            "6235740528"
         ],
         "id":"6241161110",
         "key":"flight-purchase"
      },
      {  
         "experimentIds":[  
            "6249542725"
         ],
         "id":"6247001737",
         "key":"flight-cart"
      },
      {  
         "experimentIds":[  

         ],
         "id":"6247471698",
         "key":"seat-selected"
      },
      {  
         "experimentIds":[  
            "6272600257"
         ],
         "id":"6253130776",
         "key":"upgrade-select"
      }
   ],
   "revision":"26"
}
```
{% endmarkdown %}
</pre>
</div>
{% endif %}



<!-- Example Request -->
{% if code.request %}
<h4>Example Code</h4>

<pre>
{% markdown %}
```{{ code.lang }}
{{ code.request | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example Response -->
{% if code.response %}
<h4>Example Response</h4>
<pre>
{% markdown %}
```json
{{ code.response | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

          </div>
        {% endfor %}
      </div>
    </div>
  </section>
