<!-- Toggles for interactive mode -->
{% if relativePath == 'rest/reference/index' %}
  <div class="js-toggle-container toggle-container--fixed soft-double--sides soft--ends background--brand-darker">
    <ul class="nav unstyled">
      <li class="z-index--2"><a class="button button--small button--plain reverse background--brand" href="#" data-toggle-trigger="curl" data-toggle-trigger-class="background--brand">CURL</a></li>
      <li class="z-index--2"><a class="button button--small button--plain reverse" href="#" data-toggle-trigger="interactive" data-toggle-trigger-class="background--brand">Interactive Mode</a></li>
      <li class="flush token-link text--right soft-double--right">
        <a class="button button--small display--inline-block" href="#" data-collapser>Enter API Token</a>
        <div class="collapsible is-collapsed background--white rounded-box text--left">
          <form id="api-token-form" class="soft-half--ends form-container">
            <label class="label display--block soft--sides">Enter your API token to use interactive mode:</label>
            <input id="api-token-input" type="text" class="text-input push--left" placeholder="API Token" value="">
            <button class="button button--highlight">Ok</button>
            <div class="form-note form-note--bad-news soft--sides">Please enter your API token.</div>
            <div class="soft--sides">Get your api token at <a href="https://app.optimizely.com/tokens" target="_blank">https://app.optimizely.com/tokens</a></div>
          </form>
        </div>
      </li>
    </ul>
  </div>
{% endif %}

{% if relativePath == 'server/reference/index' %}
  <div class="js-toggle-container toggle-container--fixed soft-double--sides soft--ends background--brand-darker">
    <ul class="nav unstyled">
      <li class="z-index--2"><a class="button button--small button--plain reverse background--brand" href="#" data-toggle-trigger="python-code" data-toggle-trigger-class="background--brand">Python</a></li>
      <li class="z-index--2"><a class="button button--small button--plain reverse" href="#" data-toggle-trigger="java-code" data-toggle-trigger-class="background--brand">Java</a></li>
        <li class="z-index--2"><a class="button button--small button--plain reverse" href="#" data-toggle-trigger="ruby-code" data-toggle-trigger-class="background--brand">Ruby</a></li>
    </ul>
  </div>
{% endif %}
