  <!-- Row -->
  <section class="sidebyside">
    <div class="grid">
      <!-- Left column -->
      <div class="grid__cell width--1-2 explanation{% if fileName == "0-intro" %} intro{% endif %}">
        <div class="soft-double--sides">
          <!-- Title -->
          {% if object.fileName == "0-intro" %}
            <h2 id="{{object.anchor}}">{{object.title}}</h2>
          {% else %}
            <h3 id="{{object.anchor}}">
              {{object.title}}
              {% if object.meta.warning %}<span> (deprecated)</span>{% endif %}
            </h3>
          {% endif %}

          <!-- Used for rest/conditions -->
          {% if object.meta.warning %}<div class="attention attention--warning push--bottom">{{ object.meta.warning }}</div>{% endif %}
          {% if object.condition.fields %}
            <ul>
              <li><b>type</b>: <code>{{type}}</code>

              {% if object.condition.fields.name.required %}
              <li><b>name</b>: required
              {% endif %}

              {% if object.condition.fields.match_type %}
              <li><b>match_type</b>: {% if object.condition.fields.match_type.required %}required{% else %}optional{% endif %}</li>
              {% endif %}

              {% if object.condition.fields.value %}
              <li><b>value</b>: {% if object.condition.fields.value.required %}required{% else %}optional{% endif %}</li>
              {% endif %}
            </ul>

            <p>
            {% if object.meta.usage %}
            {% markdown %}
              {{ object.meta.usage }}
            {% endmarkdown %}
            {% endif %}
            {% if object.condition.fields.value.values %}
            Acceptable values are:

            <table class="growable table">
              {% for value in object.condition.fields.value.values %}
                <tr>
                  <td><code>{{value.value}}</code></td>
                  <td>
                    {% if value.deprecated %}
                      <s>{{value.text}}</s> (deprecated)
                    {% else %}
                    {{value.text}}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% endif %}
            </p>

            {% if object.condition.fields.value.disallowed_values %}
            <p>Any string value is allowed except:
              <ul>
              {% for value in object.condition.fields.value.disallowed_values %}
              <li><code>{{value}}</code></li>
              {% endfor %}
              </ul>
            </p>
            {% endif %}


            {% if object.condition.fields.match_type.values %}
            <p>The <code>match_type</code> can be:
              <ul>
              {% for match_type in object.condition.fields.match_type.values %}
              <li><code>{{match_type.value}}</code> {{match_type.text}}</li>
              {% endfor %}
              </ul>
            </p>
            {% endif %}
          {% endif %}
          <!-- End used for rest/conditions -->


          <!-- Endpoint -->
          {% if object.type and object.endpoint %}
            <pre>{{ object.type }} {{ object.endpoint }}</pre>
          {% endif %}

          <!-- Description -->
          {{ object.body | safe }}

          <!-- Arguments -->
          {% if object.fields %}
            <h4>Definitions</h4>
            <table class="table">
            {% for key, f in object.fields %}
              <tr><td align="left"><b>{{ key }}</b></td><td class="desc">
                {% markdown %}
                {{ f | safe }}
                {% endmarkdown %}
              </td></tr>
            {% endfor %}
            </table>
          {% endif %}
        </div>
      </div>

      <!-- Right column -->
      <div class="grid__cell width--1-2 code-container{% if object.fileName == "0-intro" %} intro{% endif %}{% if object.endpoint or object.response or object.js or object.html %} empty{% endif %}">
        <div class="hidden visible" data-toggle-section="curl">

<!-- Indenting is weird here because of the <pre> tags -->

<!-- Example request -->
{% if object.endpoint %}
<h4>Example Request</h4>
<pre>
{% markdown %}
```bash
curl \
  -H "Token: abcdefghijklmnopqrstuvwxyz:123456" \{% if object.request %}
  -H "Content-Type: application/json" \
  -d '{{ object.request | dump | safe }}' \{% endif %}
  {% if type %}-X {{object.type}} {% endif %}"{% if endpoint_domain %}{{ endpoint_domain }}{% else %}https://www.optimizelyapis.com/experiment/v1/{% endif %}{{ object.endpoint | safe }}"
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example response -->
{% if object.response %}
<h4>Example Response</h4>
<pre>
{% markdown %}
```json
{{ object.response | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example HTML -->
{% if object.html %}
<h4>Example HTML</h4>
<pre>
{% markdown %}
```html
{{ object.html | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example JS -->
{% if object.js %}
<h4>Example Javascript</h4>
<pre>
{% markdown %}
```js
{{ object.js | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example JSON (for rest/conditions) -->
{% if object.jsonExample %}
<h4>Example JSON</h4>
<pre>
{% markdown %}
```js
{{ object.jsonExample | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example URL -->
{% if object.request_url %}
<h4>Example URL</h4>
<pre>
{% markdown %}
```html
{{ object.request_url | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

<!-- Example Request -->
{% if object.curl %}
<h4>Example Request</h4>
<pre>
{% markdown %}
```bash
{{ object.curl | safe }}
```
{% endmarkdown %}
</pre>
{% endif %}

        </div>
        <div class="hidden" data-toggle-section="interactive">
          {% if object.endpoint and object.type == "GET" %}
            {% include 'partials/_sandbox.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
