{% include '_head.html' {
  page: "index"
}%}

  {% include '_header.html' %}

  <main>
    <div class="content">
      <h1>ZERO</h1>
      <p class="muted">A minimal static HTML engine using Gulp. </p>
      <img src="/assets/i/zero.svg" height="120" alt="" class="logo">

      <div class="default-message">
        This is the default page you should see at http://localhost:3000.<br />Edit files in <b>_scss</b>, <b>_templates</b>, <b>_partials</b>, or <b>assets</b> to see instant changes.
      </div>

    </div>
  </main>

  {% include '_footer.html' %}

{% include '_foot.html' %}
