{%
  include 'partials/_head.html'
  {
    page: "index"
  }
%}

{% include 'partials/_header.html' %}

  <main>
    <div class="hero text--center height-300 soft-quad">
      <h1 class="kilo push-double">Optimizely Developers</h1>
      <h2 class="gamma">Build on the world's #1 experience optimization platform.</h2>

      <!-- <div class="cta soft-quad--top"> -->
        <a class="lego-button lego-button--brand push-quad" href="#">Get Started</a>
      <!-- </div> -->
    </div>



    <div class="width-4-5 anchor--middle">
      <h3 class="text--center push-quad">Documentation</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Javascript API</h4>
            <p>Customize Optimizely's behavior on web pages. You can control how
              Optimizely buckets users into variations, integrate custom analytics
              tools, or manually activate experiments.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>REST API</h4>
            <p>Manage your Optimizely experiments programmatically. You can modify
              projects, experiments, and variations from your own code. This makes
              it easy to create and start experiments directly from a
              content-management system.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>iOS SDK</h4>
            <p>Create and run experiments in your iOS app. Use our code-free
              Visual Editor as well as Live Variables and Code Blocks to optimize
              your app. Straightforward SDK integration with CocoaPods support.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-4 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Android SDK</h4>
            <p>Create and run experiments in your Android app. Use our code-free
              Visual Editor as well as Live Variables and Code Blocks to optimize
              your app. Straightforward SDK integration with Gradle support.</p>
          </a>
        </div>
        <!-- <div class="lego-grid__cell width-1-4 text--center">
          <img src="http://placehold.it/100x100" class="img--circle display--inline-block">
          <div>Code Samples</div>
        </div> -->
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--top">
      <h3 class="text--center push-quad">Get Started</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-2 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>For Customers</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken. Brisket turducken tongue biltong rump. Spare ribs tail cupim, prosciutto porchetta doner swine. Kielbasa chuck leberkas pork chop drumstick beef ribs. Beef ribs pastrami pork loin pork chop cupim, fatback ball tip t-bone rump landjaeger alcatra strip steak shank.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-2 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>For Partners</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken. Brisket turducken tongue biltong rump. Spare ribs tail cupim, prosciutto porchetta doner swine. Kielbasa chuck leberkas pork chop drumstick beef ribs. Beef ribs pastrami pork loin pork chop cupim, fatback ball tip t-bone rump landjaeger alcatra strip steak shank.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--top">
      <h3 class="text--center push-quad">Code Samples</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Technology Integrations</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken. Brisket turducken tongue biltong rump. Spare ribs tail cupim, prosciutto porchetta doner swine. Kielbasa chuck leberkas pork chop drumstick beef ribs. Beef ribs pastrami pork loin pork chop cupim, fatback ball tip t-bone rump landjaeger alcatra strip steak shank.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Custom Applications</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken. Brisket turducken tongue biltong rump. Spare ribs tail cupim, prosciutto porchetta doner swine. Kielbasa chuck leberkas pork chop drumstick beef ribs. Beef ribs pastrami pork loin pork chop cupim, fatback ball tip t-bone rump landjaeger alcatra strip steak shank.</p>
          </a>
        </div>
        <div class="lego-grid__cell width-1-3 text--center">
          <a class="link--dark" href="#">
            <img src="http://placehold.it/100x100" class="img--circle display--inline-block push">
            <h4>Advanced Optimization</h4>
            <p>Bacon ipsum dolor amet meatball alcatra andouille, sausage tri-tip cow leberkas pork flank hamburger bacon jerky turducken. Brisket turducken tongue biltong rump. Spare ribs tail cupim, prosciutto porchetta doner swine. Kielbasa chuck leberkas pork chop drumstick beef ribs. Beef ribs pastrami pork loin pork chop cupim, fatback ball tip t-bone rump landjaeger alcatra strip steak shank.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="width-4-5 anchor--middle border--top push-quad--ends">
      <h3 class="text--center push-quad">Start developing</h3>

      <div class="lego-grid">
        <div class="lego-grid__cell width-1 text--center">
          <a class="link--dark" href="#">
            <button class="lego-button lego-button--highlight push-double--bottom">Create account</button>
            <p>Get a free Optimizely account with full access to developer features.</p>
          </a>
        </div>
      </div>
    </div>
  </main>

{% include 'partials/_footer.html' %}

{% include 'partials/_foot.html' %}
